body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #CADCFC;
  text-align: center;
}

header {
  background: #00246B;
  padding: 20px;
  color:#CADCFC ;
}

h1 {
  margin: 0;
}

.dog-image {
  max-width: 400px;
  width: 90%;
  border-radius: 12px;
  margin-top: 20px;
}

.description {
  margin: 20px auto;
  max-width: 500px;
  font-size: 1.2rem;
  color: #00246B;
}
